/* === RESET === */

    html {
        box-sizing: border-box;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    ol, ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }

/* === END RESET === */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300:0,400;0,500;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    
}

nav, .hero {
    background-color: #1F2937;
    color: #fff;
}

.quote {
    background-color: #E5E7EB;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

ul {
    display: flex;
    gap: 16px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

li a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    padding: 100px 0;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    text-align: left;
    width: 50%;
}

.hero-header {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.hero-image {
    background-color: #8f9194;
    color: #fff;
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.btn {
    display: inline-block;
    background-color: green;
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
}

.btn-primary {
    background-color: #3882f6;
}